#checkbox {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #e0e0e0;
    border-radius:50%;
    transform:scale(.5);
    transform-origin: 0% center;
    vertical-align:middle;
  }
  
  label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #333;
    display: inline-block;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked + label {
    background-color: #333;
  }